<div class="">
  <div class="row">
    <div class="card dashboard-profil-card col-md-3" style="width: 18rem;">
      <div class="mt-4 avatar-dashboard">
        <%= cl_image_tag @user.avatar, class: "avatar-dashboard-img" %>
      </div>
      <h3 class="text-center mt-3"><%= @user.username.capitalize %></h3>
      <h4 class="card-title text-center"><%= @user.city %></h4><p></p>
      <span id="border-dashboard"></span>
      <div class="card-body pl-5 pr-5">
        <h2 class="text-center"><%= @user.score %></h2><p class="text-center">Points</p>
        <br><h5 class="card-text">Member since</h5><p> <%= @user.created_at.strftime("%B, %d, %Y") %> </p>
        <h5 class="card-title">Badges</h5><p><%= "You don't have any badge yet" %></p>
        <%= link_to "Join another challenge", challenges_path, :class => "btn btn-primary btn-lg light-white-button pl-4 pr-4 btn-challenge" %>
      </div>
      <div class="card-body"></div>
    </div>
    <div class="dashboard-profil-content col-md-9">
      <ul class="nav nav-tabs bg-white mt-3 p-4" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link <%= 'active' if @tab_active == 0 %> pl-2 pr-4" id="home-tab" data-toggle="tab" href="#challenges" role="tab" aria-controls="challenges" aria-selected="true"><h4 class="h3-border-bottom">My challenges</h4></a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= 'active' if @tab_active == 1 %> pl-2 pr-4" id="profile-tab" data-toggle="tab" href="#surveys" role="tab" aria-controls="surveys" aria-selected="false"><h4 class="h3-border-bottom">My surveys</h4></a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= 'active' if @tab_active == 2 %> pl-2 pr-4" id="profile-tab" data-toggle="tab" href="#tips" role="tab" aria-controls="tips" aria-selected="false"><h4 class="h3-border-bottom">My tips</h4></a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= 'active' if @tab_active == 3 %> pl-2 pr-4" id="profile-tab" data-toggle="tab" href="#edit" role="tab" aria-controls="edit" aria-selected="false"><h4 class="h3-border-bottom">Edit profile</h4></a>
        </li>
      </ul>
      <div class="tab-content mt-3" id="myTabContent">
        <div class="tab-pane fade <%= 'show active' if @tab_active == 0 %>" id="challenges" role="tabpanel" aria-labelledby="challenges-tab">
          <% @inscriptions.each do |inscription| %>
            <div class="card-challenge-dashboard bg-white w-100 mb-4">
              <div class="card-challenge-dashboard-img">
                <%= image_tag inscription.challenge.photo %>
              </div>
              <div class="card-challenge-dashboard-infos-description p-3">
                <h4><%= inscription.challenge.title%></h4>
                <p><%= inscription.challenge.description %><p>
              </div>
              <div class="card-challenge-dashboard-button p-3">
                <div class="card-challenge-dashboard-button-show pt-2 pb-2">
                  <%= link_to "Show", challenge_path(inscription.challenge), :class => "btn btn-primary btn-lg second-button pl-4 pr-4"%>
                </div>
                <div class="card-challenge-dashboard-button-unsusbcribe">
                  <%= button_to "Unsubscribe", inscription_path(inscription), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-primary btn-lg second-button pl-4 pr-4" %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="tab-pane fade <%= 'show active' if @tab_active == 1 %>" id="surveys" role="tabpanel" aria-labelledby="surveys-tab">
          <%= render "shared/daily_surveys_index" %>
        </div>
        <div class="tab-pane fade <%= 'show active' if @tab_active == 2 %>" id="tips" role="tabpanel" aria-labelledby="tips-tab">
          <% @user_tips.each do |user_tip| %>
            <div class="tips-dashboard-card">
              <div class="additional">
                <div class="user-card">
                  <div class="level center">
                    Tip n°<%= user_tip.tip.id %>
                  </div>
                  <div class="points center">
                    <%= user_tip.tip.score %> Points
                  </div>
                  <div>
                    <%= image_tag user_tip.tip.avatar, class: "item-avatar center" %>
                  </div>
                </div>
                <div class="more-info">
                  <h1><%= user_tip.tip.title %></h1>
                  <div class="stats">
                    <div>
                      <div class="title">CO2</div>
                      <div class="value"><%= user_tip.tip.saved_co2 %></div>
                    </div>
                    <div>
                      <div class="title">ENERGY</div>
                      <div class="value"><%= user_tip.tip.saved_energy %></div>
                    </div>
                    <div>
                      <div class="title">MONEY</div>
                      <div class="value infinity"><%= user_tip.tip.saved_money %></div>
                    </div>
                  </div>
                  <div class="subscription">
                    <%= link_to "Done", user_tip_path(user_tip), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary white-button" %>
                  </div>
                </div>
              </div>
              <div class="general">
                <h1><%= user_tip.tip.title %></h1>
                <p><%= user_tip.tip.description %></p>
              </div>
            </div>
          <% end %>
        </div>
        <div class="tab-pane fade" id="edit" role="tabpanel" aria-labelledby="edit-tab">
        <%= render "shared/edit_form"%>
        </div>
      </div>
    </div>
  </div>
</div>
