<div class="container mt-4">
  <div class="row">
    <div class="card dashboard-profil-card col-md-3" style="width: 18rem;">
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/Artmen12", class: "card-img-top mb-2" %>
      <h3><%= @user.username %></h3>
      <div class="card-body">
        <h5 class="card-title"><%= @user.city %></h5>
        <p class="card-text">Member since:</p><p> <%= @user.created_at %> </p>
        <h5 class="card-title">Badges</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"></li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link"><p>Edit profil</p></a>
      </div>
    </div>
    <div class="dashboard-profil-content col-md-9">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active pl-5 pr-5" id="home-tab" data-toggle="tab" href="#challenges" role="tab" aria-controls="challenges" aria-selected="true"><h3 class="h3-border-bottom">My challenges</h3></a>
        </li>
        <li class="nav-item">
          <a class="nav-link pl-5 pr-5" id="profile-tab" data-toggle="tab" href="#surveys" role="tab" aria-controls="surveys" aria-selected="false"><h3 class="h3-border-bottom">My surveys</h3></a>
        </li>
        <li class="nav-item">
          <a class="nav-link pl-5 pr-5" id="profile-tab" data-toggle="tab" href="#tips" role="tab" aria-controls="tips" aria-selected="false"><h3 class="h3-border-bottom">My tips</h3></a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="challenges" role="tabpanel" aria-labelledby="challenges-tab">
        <%= @inscriptions %>
        <%= link_to "Add challenge", challenges_path, :class => "btn btn-primary btn-lg main-button pl-4 pr-4 " %>
        </div>
        <div class="tab-pane fade" id="surveys" role="tabpanel" aria-labelledby="surveys-tab">
        </div>
        <div class="tab-pane fade" id="tips" role="tabpanel" aria-labelledby="tips-tab">
        <%= render "shared/tips_card"%>
        </div>
      </div>
    </div>
  </div>
</div>
