<div class="">
  <div class="row">
    <div class="card dashboard-profil-card col-md-3" style="width: 18rem;">
      <div class="mt-4 avatar-dashboard">
        <%= cl_image_tag @user.avatar, class: "avatar-dashboard-img" %>
      </div>
      <h3 class="text-center mt-3"><%= @user.username.capitalize %></h3>
      <h4 class="card-title text-center"><%= @user.city.capitalize %></h4><p></p>
      <span id="border-dashboard"></span>
      <div class="card-body pl-5 pr-5">
        <h2 class="text-center"><%= "1000" %></h2><p class="text-center">Points</p>
        <br><h5 class="card-text">Member since</h5><p> <%= @user.created_at.strftime("%B, %d, %Y") %> </p>
        <h5 class="card-title">Badges</h5><p><%= "You don't have any badge yet" %></p>
        <p></p>
      </div>
<!--       <ul class="list-group list-group-flush">
        <li class="list-group-item"></li>
      </ul> -->
      <div class="card-body">
<!--         <a href="#edit" class="card-link"><p>Edit profil</p></a>
 -->  </div>
    </div>
    <div class="dashboard-profil-content col-md-9">
      <ul class="nav nav-tabs bg-white mt-3 p-4" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active pl-2 pr-4" id="home-tab" data-toggle="tab" href="#challenges" role="tab" aria-controls="challenges" aria-selected="true"><h4 class="h3-border-bottom">My challenges</h4></a>
        </li>
        <li class="nav-item">
          <a class="nav-link pl-2 pr-4" id="profile-tab" data-toggle="tab" href="#surveys" role="tab" aria-controls="surveys" aria-selected="false"><h4 class="h3-border-bottom">My surveys</h4></a>
        </li>
        <li class="nav-item">
          <a class="nav-link pl-2 pr-4" id="profile-tab" data-toggle="tab" href="#tips" role="tab" aria-controls="tips" aria-selected="false"><h4 class="h3-border-bottom">My tips</h4></a>
        </li>
        <li class="nav-item">
          <a class="nav-link pl-2 pr-4" id="profile-tab" data-toggle="tab" href="#edit" role="tab" aria-controls="edit" aria-selected="false"><h4 class="h3-border-bottom">Edit profile</h4></a>
        </li>
      </ul>
      <div class="tab-content mt-3" id="myTabContent">
        <div class="tab-pane fade show active" id="challenges" role="tabpanel" aria-labelledby="challenges-tab">
          <% @inscriptions.each do |inscription| %>
            <div class="card-challenge-dashboard bg-white w-100 mb-4">
              <div class="card-challenge-dashboard-img">
                <%= image_tag inscription.challenge.photo %>
              </div>
              <div class="card-challenge-dashboard-infos-description p-3">
                <h4><%= inscription.challenge.title%></h4>
                <p><%= inscription.challenge.description %><p>
              </div>
              <div class="card-challenge-dashboard-button p-3">
                <div class="card-challenge-dashboard-button-show pt-2 pb-2">
                  <%= link_to "Show", challenge_path(inscription.challenge), :class => "btn btn-primary btn-lg main-button pl-4 pr-4"%>
                </div>
                <div class="card-challenge-dashboard-button-unsusbcribe">
                  <%= button_to "Unsubscribe", inscription_path(inscription), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-primary btn-lg main-button pl-4 pr-4" %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <%= link_to "Join another challenge", challenges_path, :class => "btn btn-primary btn-lg main-button pl-4 pr-4 btn-challenge" %>
        <div class="tab-pane fade" id="surveys" role="tabpanel" aria-labelledby="surveys-tab">
          <%= render "shared/daily_surveys_index" %>
        </div>
        <div class="tab-pane fade" id="tips" role="tabpanel" aria-labelledby="tips-tab">
        <%= render "shared/tips_card"%>
        </div>
        <div class="tab-pane fade" id="edit" role="tabpanel" aria-labelledby="edit-tab">
        <%= render "shared/edit_form"%>
        </div>
      </div>
    </div>
  </div>
</div>
