

<div class="row">
  <% current_user.inscriptions.each do |inscription| %>
    <% inscription.daily_surveys.each do |daily_survey| %>
      <div class="card-trip col-sm-4">
      <div class="card-trip-image" style="background: url(<%= inscription.challenge.photo %>)"></div>
      <div class="card-trip-infos">
        <div>
          <h2><%= inscription.challenge.title %></h2>
          <p>Day <%= daily_survey.created_at.strftime("%d") %></p>

          <div class="survey-text">
            <h3>Your score for your daily survey : <%= daily_survey.score %> points</h3>
          <br>
          <br>
          <h5>
            Click in the link below to access to
            your daily survey!
          </h5>
          <button class="btn btn-primary main-button survey-button-click" data-toggle="modal" data-target="#modal-survey-show">
              Check your survey
          </button>

          </div>
          <%= render "shared/daily_survey_show", daily_answers: daily_survey.daily_answers, daily_survey: daily_survey%>
        </div>
        <img src="<%= image_path inscription.challenge.badge %>" class="card-trip-user avatar-bordered" />
      </div>
    </div>
    <% end %>
      <% unless DailySurvey.find_by(inscription: inscription, date: Date.today) %>
        <div class="card-trip col-sm-4">
          <div class="card-trip-image" style="background: url(<%= inscription.challenge.photo %>)"></div>
          <div class="card-trip-infos">
            <div>
            <h2><%= inscription.challenge.title %></h2>
            <p>Day <%= Date.today.strftime("%d") %></p>

            <div class="survey-text">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

            <h5>
              Click in the link below to answer
              your daily survey!
            </h5>
            <%#= link_to "Answer your Review of the day", new_inscription_daily_survey_path(inscription), class: "btn btn-primary main-button" %>
            <button type="button" class="btn btn-primary main-button" data-toggle="modal" data-target="#modal-survey-new">
                Answer your Review of the day
            </button>
          </div>
          <%= render "shared/daily_survey_new", questions: inscription.challenge.questions, inscription: inscription, daily_survey: DailySurvey.new %>
          </div>
          <img src="<%= image_path inscription.challenge.badge %>" class="card-trip-user avatar-bordered" />
          </div>
        </div>
      <% end %>
  <% end %>
</div>
