<!-- <article class="surveys-dashboard-card">
  <div class="thumb"></div>
  <div class="infos">
    <h2 class="title">Plastic Free Challenge<span class="flag"></span></h2>
    <h3 class="date">Day 29</h3>
    <h3 class="seats">Questions remaining: 2</h3>
    <p class="txt">
      Click in the link below to access to
      your daily survey!
    </p>
    <%#= link_to "See your Review of the day", new_inscription_daily_survey_path(:inscription_id), class: "btn btn-primary main-button" %>
  </div>
</article> -->

<%#= link_to "See your Review of the day", new_inscription_daily_survey_path(62), class: "btn btn-primary main-button" %>

<% current_user.inscriptions.each do |inscription| %>
  <% inscription.daily_surveys.each do |daily_survey| %>
    <article class="surveys-dashboard-card2">
      <div class="thumb"></div>
      <div class="infos">
        <h2 class="title"><%= inscription.challenge.title %><span class="flag"></span></h2>
        <h3 class="date"><%= daily_survey.created_at.strftime("%y %m %d") %></h3>
        <h3 class="seats">Questions remaining: 2</h3>
        <p class="txt">
          Click in the link below to access to
          your daily survey!
        </p>
        <%= link_to "See your Review of the day", daily_survey_path(daily_survey), class: "btn btn-primary main-button" %>
      </div>
    </article>
  <% end %>

  <article class="surveys-dashboard-card2">
    <div class="thumb"></div>
    <div class="infos">
      <h2 class="title"><%= inscription.challenge.title %><span class="flag"></span></h2>
      <h3 class="date"><%= Date.today.strftime("%y %m %d") %></h3>
      <h3 class="seats">Questions remaining: 2</h3>
      <p class="txt">
        Click in the link below to access to
        your daily survey!
      </p>
      <%= link_to "See your Review of the day", new_inscription_daily_survey_path(inscription), class: "btn btn-primary main-button" %>
    </div>
  </article>
<% end %>
