<div class="selected-users">
  <% @users.each do |user| %>
    <p><strong><%= user.first_name.capitalize %> <%= user.last_name.capitalize %></strong> alias '<%= user.username %>' from <u><%= user.city %></u>
      <% if user.challenges != [] %>
         - Involved in <% user.challenges.each do |challenge| %>
          <span class="green-text"> | <%= challenge.title %> | </span>
        <% end %>
      <% end %>
    </p>
  <% end %>
</div>
