<div id="parallax-world-of-ugg">
  <section>
    <div class="parallax-three" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://s-i.huffpost.com/gen/1393842/images/o-SUCCESS-BOOK-facebook.jpg);">
    <div class="container">
      <div class="banner-home">
        <div class="banner-home-content">
          <h1>Join the monthly challenge</h1>
          <br>
          <h2 id="typed-text"></h2>
        </div>
       <%= link_to "Join the movement", challenge_path(@challenge_of_the_month.id), class: "btn btn-primary btn-lg main-button pl-4 pr-4" %>
    </div>
    </div>
  </div>
  </section>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary main-button" data-toggle="modal" data-target="#exampleModal">
Join
</button>

<%= render "shared/login_form" %>

<div class="container">

  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="5000">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <blockquote><p class="quotation"><i>We don’t need a handful of people doing zero waste perfectly. We need millions of people doing it imperfectly.</i></p>
        <footer class="author"><span class="dash">—</span> Anne Marie Bonneau</footer></blockquote>
      </div>
      <div class="carousel-item">
        <blockquote><p class="quotation"><i>Human exploitation of the planet is reaching a critical limit and human demands and expectations avec ever-increasing. We cannot continue to pollute the atmosphere, poison the ocean and exhaust the land. There isn't any more available.</i></p>
        <footer class="author"><span class="dash">—</span> Stephen Hawking</footer></blockquote>
      </div>
      <div class="carousel-item">
        <blockquote><p class="quotation"><i> You cannot get through a single day without having an impact on the world around you. What you do makes a difference, and you have to decide what kind of difference you want to make.</i></p>
        <footer class="author"><span class="dash">—</span> Jane Goodall</footer></blockquote>
      </div>
    </div>
  </div>

  <div class="home-infos mt-5">
    <h2 id="home-infos-act"><span class="highlight">We need to act</span></h2>
    <div class="home-infos-content">
      <div class="home-infos-content-left">
        <p>Climate experts are formal: the earth is warming up at a steady pace. The reason for this is the increase in human-caused greenhouse gases, which has led to health, ecological and humanitarian crises.
        Despite this, the fight against climate change is a real opportunity to transition
        to a low carbon society, creating jobs, innovation and social justice locally and internationally.</p>
      </div>
      <div class="home-infos-content-right">
        <p>The goal has always been to bring climate change under control by stopping the release of carbon dioxide and other heat-trapping “greenhouse” gases. But sometimes it seems as though we’re fighting a losing battle. What can an individual really do ?
        No matter where you live, you can contribute to the solution with actions that reach far beyond your own home.</p>
      </div>
    </div>
  </div>

  <h2 class="text-center">Join the <span id="user-count"><%= @users.count %></span> people already fighting against plastic pollution</h2>
  <div
    id="map"
    style="width: 100%;
    height: 600px;"
    data-users="<%= @geojson.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
</div>



