<div id="parallax-world-of-ugg">
  <section>
    <div class="parallax-one">
    <div class="container">
      <div class="banner-index-content">
        <h1>Discover all the challenges</h1>
        <h2>&nbsp;&nbsp;&nbsp;&nbsp;and test your self</h2>
      </div>
      <a class="btn btn-primary btn-lg light-white-button" href="#chal-index" role="button">Save your planet</a>
    </div>
  </section>
  </div>
</div>


<div class="page-prez ml-5 my-3">
  <h1 class="mb-5 text-center" id="chal-index">All the <span class="highlight">challenges available</span> are listed here.</h1>
  <div class="text-center mb-5">
    <p>A new challenge is unlocked every month. You can subscribe to as many challenges as you like.</p>
    <p>Click on a card below to see more details about one challenge.</p>
    <div class="challenge-list mt-5">
      <h3>Challenge for <%= Date.today.strftime("%B") %>:
      <% @challenges.each do |challenge| %>
      <%= link_to challenge_path(challenge.id) do %>
        <%= challenge.title if challenge.date.strftime("%B") == Date.today.strftime("%B") %>
      <% end %>
    <% end %></h3>
    </div>
  </div>
</div>

<div class="options pt-3 border-top">

  <% @challenges.each do |challenge| %>

    <% if challenge.date.strftime("%B") == Date.today.strftime("%B") %>

      <div class="option active" style="--optionBackground: linear-gradient(rgba(200, 200, 200, 0.5), rgba(0, 100, 100, 0.5)), url(<%= challenge.photo %>);">
        <%= link_to challenge_path(challenge.id) do %>
          <div class="label">
            <div class="icon"><img src="<%= challenge.badge %>" alt="badge"></div>
            <div class="info">
              <div class="main"><%= challenge.title %></div>
              <div class="sub"><%= challenge.date.strftime("%B") %></div>
            </div>
          </div>
        <% end %>
      </div>

    <% else %>

      <div class="option" style="--optionBackground: linear-gradient(rgba(200, 200, 200, 0.5), rgba(0, 100, 100, 0.5)), url(<%= challenge.photo %>);">
        <%= link_to challenge_path(challenge.id) do %>
          <div class="label">
            <div class="icon"><img src="<%= challenge.badge %>" alt="badge"></div>
            <div class="info">
              <div class="main"><%= challenge.title %></div>
              <div class="sub"><%= challenge.date.strftime("%B") %></div>
            </div>
          </div>
        <% end %>
      </div>

    <% end %>

  <% end %>

</div>

