<div id="parallax-world-of-ugg">
  <section>
    <div class="parallax-one">
    <div class="container">
      <div class="banner-index-content">
        <h1>Discover all the challenges</h1>
        <br>
        <h2>&nbsp;&nbsp;&nbsp;&nbsp;and test yourself</h2>
      </div>
      <br>
      <div class="arrow-btn d-flex justify-content-center pt-5 mt-5">
        <a class="btn btn-primary btn-lg light-white-button" href="#chal-index" role="button"><i class="fas fa-arrow-down"></i></a>
      </div>
    </div>
  </section>
  </div>
</div>

<div class="container scoring-bloc bg-white pt-3">
  <h4 class="text-center mb-4">Top users <%= image_tag "trophy.png" %></h4>
  <%@best_five_users.each_with_index do |user, i| %>
  <div class="d-flex justify-content-between w-100">
    <% if [0, 1, 2].include?(i) %>
      <h5 class=""><%= image_tag "medaille#{i + 1}.png" %></h5>
    <% else %>
      <h5 class="number pl-2"><%= i + 1 %></h5>
    <% end %>
    <p><%= user.avatar %><%= user.username.capitalize %></p>
    <p><span id="score"><%= user.score %></span></p>
  </div>
  <% end %>

</div>

<div class="page-prez ml-5 my-3">
  <div class="text-center mb-5">
    <div class="challenge-list my-5">
      <h3>Challenge for <%= Date.today.strftime("%B") %>:
      <% @challenges.each do |challenge| %>
        <%= link_to challenge_path(challenge.id) do %>
          <span class="highlight"><%= challenge.title if challenge.date.strftime("%B") == Date.today.strftime("%B") %></span>
        <% end %>
      <% end %></h3>
    </div>
    <p>A new challenge is unlocked every month. You can subscribe to as many challenges as you like.</p>
    <p>Click on a card below to see more details about one challenge.</p>
  </div>
</div>

<div class="options pt-3" id="chal-index">

  <% @challenges.each do |challenge| %>

    <% if challenge.date.strftime("%B") == Date.today.strftime("%B") %>

      <div class="option active" style="--optionBackground: linear-gradient(rgba(200, 200, 200, 0.5), rgba(0, 100, 100, 0.5)), url(<%= challenge.photo %>);">
        <%= link_to challenge_path(challenge.id) do %>
          <div class="label">
            <div class="icon"><img src="<%= challenge.badge %>" alt="badge"></div>
            <div class="info">
              <div class="main"><%= challenge.title %></div>
              <div class="sub"><%= challenge.date.strftime("%B") %></div>
            </div>
          </div>
        <% end %>
      </div>

    <% else %>

      <div class="option" style="--optionBackground: linear-gradient(rgba(200, 200, 200, 0.5), rgba(0, 100, 100, 0.5)), url(<%= challenge.photo %>);">
        <%= link_to challenge_path(challenge.id) do %>
          <div class="label">
            <div class="icon"><img src="<%= challenge.badge %>" alt="badge"></div>
            <div class="info">
              <div class="main"><%= challenge.title %></div>
              <div class="sub"><%= challenge.date.strftime("%B") %></div>
            </div>
          </div>
        <% end %>
      </div>

    <% end %>

  <% end %>

</div>
