<div id="parallax-world-of-ugg">
  <section>
    <div class="parallax-two" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @challenge.photo %>)">
      <div class="container">
        <div class="banner">
          <div class="banner-index-content">
            <h1><span id="hashtag">#</span><%= @challenge.title %></h1>
            <div class="button-banner-show2">
              <% if user_signed_in? %>
                <% if @challenge.inscriptions.where(user: current_user).present? %>
                  <%= link_to "Go to your dashboard", user_path(@user), class: "btn btn-primary btn-lg light-white-button" %>
                <% else %>
                  <%= link_to "Subscribe to the challenge", challenge_inscriptions_path(@challenge), method: :post, remote: :true, class: "btn btn-primary btn-lg light-white-button button-challenge" %>
                <% end %>
                <button type="button" class="btn btn-primary btn-lg light-white-button button-challenge-execute" data-toggle="modal" data-target="#modal-challenge">Subscribe to the challenge</button>
                <%= render "shared/popup_challenge" %>
              <% else %>
                <button type="button" class="btn btn-primary btn-lg light-white-button" data-toggle="modal" data-target="#exampleModal">Subscribe to challenge</button>
                <%= render "shared/login_form" %>
              <% end %>
            </div>
          </div>
          <div class="banner-show-description">
            <p><%= @challenge.description %></p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="container pt-4 mt-4">

  <div class="bloc-section pt-4">
    <div class="bloc-section-right">
      <div class="bloc-section-right-photo">
        <%= image_tag @challenge.impact, class: "gradient" %>
      </div>
      <div class="bloc-section-right-content">
        <div class="title">
          <h1 id="impact">#Impact</h1>
        </div>
        <div class="description">
          <p><%= @challenge.impact_text %></p>
        </div>
      </div>
    </div>

    <div class="bloc-section-left">
      <div class="bloc-section-left-content text-right">
        <div class="title">
          <h1 id="hope">Hope#</h1>
        </div>
        <div class="description">
          <p><%= @challenge.hope_text %></p>
        </div>
      </div>
      <div class="bloc-section-left-photo">
      <%= image_tag @challenge.hope, class: "gradient" %>
      </div>
    </div>

    <div class="bloc-section-right">
      <div class="bloc-section-right-photo">
      <%= image_tag @challenge.how, class: "gradient" %>
      </div>
      <div class="bloc-section-right-content">
        <div class="title">
          <h1 id="how">#How</h1>
        </div>
        <div class="description">
          <p><%= @challenge.how_text %></p>
        </div>
      </div>
    </div>

  </div>

  <div class="button-banner-show text-center pt-5 pb-5">
    <% if user_signed_in? %>
      <% if @challenge.inscriptions.where(user: current_user).present? %>
        <div class="dashboard-button">
          <%= link_to "Go to your dashboard", user_path(@user), class: "btn btn-primary btn-lg light-main-button" %>
        </div>
      <% else %>
        <%= link_to "Subscribe to the challenge", challenge_inscriptions_path(@challenge), method: :post, remote: :true, class: "btn btn-primary btn-lg light-white-button button-challenge" %>
      <% end %>
      <button type="button" class="btn btn-primary btn-lg light-main-button button-challenge-execute" data-toggle="modal" data-target="#modal-challenge">Subscribe to the challenge</button>
      <%= render "shared/popup_challenge" %>
    <% else %>
      <button type="button" class="btn btn-primary btn-lg light-main-button" data-toggle="modal" data-target="#exampleModal">Subscribe to challenge</button>
      <%= render "shared/login_form" %>
    <% end %>
  </div>

</div>

<div class="container text-center">
  <div class="tips-title pb-5 pt-5">
    <h1>All our <strong>tips</strong><br>
      &nbsp;&nbsp;&nbsp;&nbsp; to help you on the <strong><%= @challenge.title %></strong> challenge</h1>
  </div>
  <div class="tips-index">
    <% @tips.each do |tip| %>

      <div class="tips-card shampoo">
      <div class="additional">
        <div class="user-card">
          <div class="level center">
            Tip n°<%= tip.id %>
          </div>
          <div class="points center">
            <%= tip.score %> points
          </div>
          <div>
            <%= image_tag tip.avatar, class: "item-avatar center" %>
          </div>
        </div>
        <div class="more-info">
          <%= link_to tip_path(tip) do %>
            <h1><%= tip.title %></h1>
          <% end %>
          <div class="stats">
            <div>
              <div class="title">CO2</div>
              <div class="value"><%= tip.saved_co2 %></div>
            </div>
            <div>
              <div class="title">SAVED</div>
              <div class="value"><%= tip.saved_money %> $</div>
            </div>
            <div>
              <div class="title">SAVED</div>
              <div class="value infinity"><%= tip.saved_energy %> kwH</div>
            </div>
          </div>
          <div class="subscription" id="pin">
            <% if user_signed_in? %>
              <%= link_to "Pin to your dashboard", tip_user_tips_path(tip), method: :post, class: "btn btn-primary white-button" %>
              <% else %>
              <button type="button" class="btn btn-primary white-button" data-toggle="modal" data-target="#exampleModal">
                Pin to your dashboard
              </button>
              <%= render "shared/login_form" %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="general">
        <h1><%= tip.title %></h1>
        <p><%= tip.description %></p>
      </div>
    </div>
    <% end %>
  </div>

  <div class="map border-top pt-5 border-dark">
    <h2 class="text-center">Join the <span class="green-text"><%= @challenge.inscriptions.count %></span> people involved in this challenge</h2>
    <div
      id="map"
      style="width: 100%;
      height: 600px;"
      data-users="<%= @geojson.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
  </div>

    <div class="search-bar d-flex flex-column mt-5">
      <%= form_tag(display_selection_path, method: :get, remote: true) do %>
        <h3><%= label_tag "find a friend involved in the" %><span class="green-text"> <%= @challenge.title  %></span> challenge:</h3>
        <div class="d-flex justify-content-center align-items-center flex-column w-100">
          <%= hidden_field_tag :id, params[:id] %>
          <%= text_field_tag :query, params[:query], class: "w-25 form-control my-3", placeholder: "Type a name or a city"%>
          <%= submit_tag "Search", class: "btn btn-primary main-button" %>
        </div>
      <% end %>
      <div class="query-list d-flex justify-content-center align-items-centerflex-column w-100 mt-4"></div>
    </div>

     <div class="button-banner-show text-center pt-5 pb-2">
    <% if user_signed_in? %>
      <% if @challenge.inscriptions.where(user: current_user).present? %>
        <div class="dashboard-button">
          <%= link_to "Go to your dashboard", user_path(@user), class: "btn btn-primary btn-lg light-main-button" %>
        </div>
      <% else %>
        <%= link_to "Subscribe to the challenge", challenge_inscriptions_path(@challenge), method: :post, remote: :true, class: "btn btn-primary btn-lg light-white-button button-challenge" %>
      <% end %>
      <button type="button" class="btn btn-primary btn-lg light-main-button button-challenge-execute" data-toggle="modal" data-target="#modal-challenge">Subscribe to the challenge</button>
      <%= render "shared/popup_challenge" %>
    <% else %>
      <button type="button" class="btn btn-primary btn-lg light-main-button" data-toggle="modal" data-target="#exampleModal">Subscribe to challenge</button>
      <%= render "shared/login_form" %>
    <% end %>
  </div>
</div>

<!-- Return to Top -->
<a class="btn btn-primary btn-lg light-white-button" href="javascript:" id="return-to-top"><i class="fas fa-arrow-up"></i></a>
<!-- Return to Top -->
