<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Rebearth</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <div class="footer">
      <div class="links">
        <a href="#"><i class="fab fa-fw fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-fw fa-github"></i></a>
        <a href="#"><i class="fab fa-fw fa-twitter"></i></a>
        <a href="#"><i class="fab fa-fw fa-instagram"></i></a>
        <p>This website is non profitable, coded at le Wagon with love for the planet</p>
      </div>
    </div>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
